@media screen and (max-width: 1200px) {
  .header .header-container {
    padding: 8px 20px;
  }
  .header .header-logo,
  .header .menu .menu-item {
    margin-right: 12px;
  }
  .header .profile .profile-alert,
  .header .profile .profile-search,
  .header .profile .profile-user {
    margin-right: 8px;
  }
  .content {
    padding: 0 20px;
  }
  .content .card-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  .header {
    position: relative;
    z-index: 10;
  }
  .header .menu {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .menu .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .menu .menu-item {
    margin: 0 0 10px;
  }
  .header .menu.active {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: burger-open .35s;
            animation: burger-open .35s;
  }
  .header .menu.close {
    -webkit-animation: burger-close .35s;
            animation: burger-close .35s;
  }
  .header .header-burger {
    width: 32px;
    height: 32px;
    padding: 4px;
    cursor: pointer;
    position: relative;
    margin-right: auto;
  }
  .header .header-burger:hover span {
    background: #5947B3;
  }
  .header .header-burger:hover span::after {
    background: #5947B3;
  }
  .header .header-burger:hover span::before {
    background: #5947B3;
  }
  .header .header-burger span {
    pointer-events: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #999999;
    width: 24px;
    height: 2px;
    -webkit-transition: background .35s;
    transition: background .35s;
  }
  .header .header-burger span::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #999999;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    -webkit-transition: background .35s;
    transition: background .35s;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: background .35s, -webkit-transform .35s;
    transition: background .35s, -webkit-transform .35s;
    transition: background .35s, transform .35s;
    transition: background .35s, transform .35s, -webkit-transform .35s;
  }
  .header .header-burger span::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #999999;
    position: absolute;
    left: 0;
    right: 0;
    top: -7px;
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transition: background .35s, -webkit-transform .35s;
    transition: background .35s, -webkit-transform .35s;
    transition: background .35s, transform .35s;
    transition: background .35s, transform .35s, -webkit-transform .35s;
  }
  .header .header-burger.active {
    position: fixed;
    top: 20px;
    right: 32px;
    z-index: 11;
  }
  .header .header-burger.active span {
    background: #fff;
  }
  .header .header-burger.active span::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .header-burger.active span::after {
    top: -7px;
    bottom: auto;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (max-width: 600px) {
  .header .profile .profile-user {
    display: none;
  }
  .header .profile .profile-btn {
    display: none;
  }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    position: relative;
  }
  .sidebar .sidebar-list {
    display: none;
    overflow: auto;
  }
  .sidebar .siderbar-toggle {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 30px;
    height: 40px;
    background: #fff;
    z-index: 1;
    border-radius: 0 50% 50% 0;
    padding: 10px 5px;
    cursor: pointer;
  }
  .sidebar .siderbar-toggle span {
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    pointer-events: none;
    background: #999;
    -webkit-mask: url("./../image/arrow-down.svg") center/16px no-repeat;
            mask: url("./../image/arrow-down.svg") center/16px no-repeat;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: -webkit-transform .35s;
    transition: -webkit-transform .35s;
    transition: transform .35s;
    transition: transform .35s, -webkit-transform .35s;
  }
  .sidebar.active {
    padding: 70px 24px 20px;
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: sidebar-open .35s;
            animation: sidebar-open .35s;
  }
  .sidebar.active .sidebar-list {
    display: block;
  }
  .sidebar.active .siderbar-toggle {
    left: 240px;
  }
  .sidebar.active .siderbar-toggle span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sidebar.close {
    -webkit-animation: sidebar-close .35s;
            animation: sidebar-close .35s;
  }
}

@-webkit-keyframes burger-open {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes burger-open {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes burger-close {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes burger-close {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes sidebar-open {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes sidebar-open {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes sidebar-close {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes sidebar-close {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
