@import ./font.sass

html, body
    height: 100%

.header
    background: #FFFFFF;
    border-bottom: 1px solid #EBEBEB;
    &-container
        display: flex
        align-items: center
        justify-content: space-between
        padding: 8px 24px
.menu
    background: none
    box-shadow: none
    width: auto
    height: auto
    &-list
        display: flex
        align-items: center
    &-item
        margin-right: 24px
        &:last-of-type
            margin-right: 0
    &-link
        padding: 0
        font-size: 14px;
        font-weight: 400
        line-height: 22px;
        color: #333333;
        transition: color .35s
        &:hover
            background: none
            color: #5947B3
    &-logo
        width: 72px
        height: 32px
        object-fit: contain
        object-position: center
.profile
    display: flex
    align-items: center
    &-alert
        display: block
        width: 32px
        height: 32px
        background: #999999
        mask: url('./../image/bell-24.svg') center / 24px no-repeat;
        margin-right: 16px
        cursor: pointer
        transition: background .35s
        &:hover
            background: #5947B3
    &-search
        display: block
        width: 32px
        height: 32px
        background: #999999
        mask: url('./../image/search-24.svg') center / 24px no-repeat;
        margin-right: 16px
        cursor: pointer
        transition: background .35s
        &:hover
            background: #5947B3
    &-avatar
        width: 32px
        height: 32px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        background: #01B957
        margin-right: 8px
        span
            font-size: 12px;
            font-weight: 400
            line-height: 12px;
            color: #fff
        img
            display: none
    &-avatar__photo
        background: #fff
        span
            display: none
        img
            display: block
            width: 32px
            height: 32px
            border-radius: 50%
            object-fit: cover
            object-position: center
    &-user
        font-size: 14px;
        font-weight: 400
        line-height: 16px;
        color: #333333;
        display: flex
        align-items: center
        margin: 0 16px 0 0
        span
            display: block
            background: #999999
            width: 23px
            height: 16px
            mask: url('./../image/arrow-down.svg') center / 7px no-repeat;
            transition: background .35s
            cursor: pointer
            &:hover
                background: #5947B3
    &-btn
        background: #5947B3;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400
        line-height: 28px;
        color: #FFFFFF;
        display: flex
        align-items: center
        border: 1px solid #5947B3
        padding: 0 12px
        cursor: pointer
        transition: background .35s, border .35s, color .35s
        span
            display: block
            background: #fff
            width: 16px
            height: 16px
            margin-right: 8px
            mask: url('./../image/plus.svg') center / 16px no-repeat;
            transition: background .35s
        &:hover
            color: #333
            background: rgba(172, 163, 217, 0.1);
            border: 1px solid #ACA3D9;
        &:hover span
            background: #333
.wrapiner
    display: flex
    align-items: stretch
    justify-content: stretch
    height: 100%
.sidebar
    flex-shrink: 0
    padding: 20px 24px
    background: #FFFFFF;
    &-list
        display: flex
        flex-direction: column
    &-item
        position: relative
    &-link
        display: flex
        align-items: center
        font-size: 15px;
        font-weight: 400
        line-height: 48px
        color: #808080;
        transition: color .35s
        &:hover
            color: #5947B3
            .sidebar-icon
                background: #5947B3;
    &-icon
        display: block
        width: 24px
        height: 24px
        background: #808080
        mask: center / 24px no-repeat
        margin-right: 12px
        transition: background .35s
        &__pro
            mask-image: url('./../image/person-24.svg')
        &__com
            mask-image: url('./../image/briefcase-24.svg')
        &__obj
            mask-image: url('./../image/organization-24.svg')
        &__fav
            mask-image: url('./../image/star-24.svg')
        &__sub
            mask-image: url('./../image/mail-24.svg')
        &__que
            mask-image: url('./../image/clippy-24.svg')
        &__cabc
            mask-image: url('./../image/desktop-download-24.svg')
        &__cabb
            mask-image: url('./../image/desktop-device-24.svg')
        &__set
            mask-image: url('./../image/gear-24.svg')
    &-link__active
        color: #5947B3
        .sidebar-icon
            background: #5947B3;
        &::before
            content: ''
            display: block
            position: absolute
            top: 0
            bottom: 0
            left: -24px
            width: 2px
            height: 100%
            background: #5947B3;
.content
    width: 100%
    background: #EBEBEB;
    display: flex
    justify-content: center
.card
    &-list
        display: flex
        align-items: stretch
        flex-wrap: wrap
        width: fit-content
        height: fit-content
        margin: 80px -16px
    &-item
        position: relative
        width: 280px
        padding: 14px 20px 38px
        background: #fff
        box-shadow: 0px 4px 4px rgba(37, 36, 41, 0.07);
        border-radius: 4px;
        margin: 0 16px
    &-title
        font-size: 18px;
        font-weight: 600
        line-height: 24px;
        color: #333333;
        display: flex
        align-items: flex-end
        justify-content: space-between
        &__amount
            font-size: 14px;
            font-weight: 400
            line-height: 21px;
            color: #CCCCCC;
    &-text
        display: flex
        align-items: flex-end
        font-size: 15px;
        line-height: 15px;
        height: 22px
        color: #333333;
        margin: 0 0 10px
        &__devider
            display: block
            width: 100%
            border-bottom: 1px dashed #DEDEE0;
            margin: 0 4px
        &__amount
            font-size: 14px;
            line-height: 14px;
            color: #5947B3;
            cursor: pointer
            transition: color .35s
            &:hover
                color: #808880
    &-btn
        position: absolute
        right: 20px
        left: 20px
        bottom: 16px
        display: flex
        align-items: center
        border: 0
        background: 0
        font-size: 15px;
        line-height: 22px;
        color:#5947B3
        padding: 0
        cursor: pointer
        transition: color .35s
        span
            display: block
            background: #5947B3
            width: 16px
            height: 16px
            margin-right: 8px
            mask: url('./../image/plus.svg') center / 16px no-repeat;
            transition: background .35s
        &:hover
            color: #808880
            span
                background: #808080

.newObject 
    .wrapiner
        flex-direction: column
    .header
        background: #F5F5F7;
        &-container
            max-width: 1216px
            width: 100%
            margin: 0 auto
            padding: 8px 0
    .sidebar
        position: relative
        z-index: 1
        padding: 0 75px
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
        &-list
            flex-direction: row
            margin: 0
            max-width: 1216px
            width: 100%
            margin: 0 auto
        &-item
            margin-right: 32px
            height: 46px
        &-icon
            display: none
        &-link__active
            color: #5947B3
            &::before
                content: ''
                display: block
                position: absolute
                top: auto
                bottom: 0
                left: 0
                right: 0
                width: 100%
                height: 2px
                background: #5947B3;
    .content
        background: #fff
        justify-content: normal
        flex-direction: column
        padding: 24px 0
        max-width: 1216px
        width: 100%
        margin: 0 auto
.newObjectTabs
    display: flex
    align-items: center
    &-tab
        display: flex
        align-items: center
        margin-right: 8px
        font-size: 15px;
        line-height: 32px
        color: #333333;
        padding: 0 12px
        background: #F5F5F7;
        border-radius: 16px;
        transition: color .35s
        &__active
            line-height: 30px
            color: #5947B3;
            background: #E9E6FA;
            border: 1px solid #5947B3;
            .newObjectTabs-icon
                background: #5947B3
        &:last-of-type
            margin-right: 0
        &:hover
            color: #5947B3;
            .newObjectTabs-amount
                color: #333333;
            .newObjectTabs-icon
                background: #5947B3
    &-icon
        display: block
        width: 16px
        height: 16px
        margin-right: 8px
        background: #333333
        mask: url('./../image/plus.svg') center / 16px no-repeat;
    &-amount
        color: #808080;
        margin-left: 5px
        transition: color .35s
.newObjectForm
    display: flex
    align-items: flex-start
    margin-top: 32px
    &-plus
        display: block
        width: 24px
        height: 24px
        mask: url('./../image/circle-plus-24.svg') center / 24px no-repeat
        background: #c3c3c3;
        cursor: pointer
        transition: background .35s
        &:hover
            background: #444;
    &-answer
        display: block
        width: 24px
        height: 24px
        mask: url('./../image/question-24.svg') center / 24px no-repeat
        background: #B3B3B3;
        cursor: help
        transition: background .35s
        &:hover
            background: #333;
    .form
        max-width: 592px
        width: 100%
        margin-right: 136px
        &-title
            font-size: 36px;
            font-weight: 600
            line-height: 42px;
            color: #333333;
            margin: 0
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 32px
        &-reset
            font-size: 14px;
            line-height: 30px
            color: #333333;
            background: #fff
            padding: 0 10px
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            cursor: pointer
            transition: border .35s
            &:hover
                border: 1px solid #333333
        &-subtitle
            font-size: 15px;
            font-weight: 600
            line-height: 18px;
            color: #333333;
            margin: 0 0 16px
        &-photo
            margin-bottom: 16px
            &__title
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 6px
                color: #333333;
            &__files
                padding: 12px
                border: 1px dashed #CCCCCC;
                border-radius: 4px
                margin-bottom: 6px
            &__alert
                font-size: 13px;
                line-height: 15px;
                color: #999999;
        &-inputs
            display: flex
            align-items: center
            margin-bottom: 16px
            .form-input
                margin-right: 16px
                width: 100%
                &:first-of-type
                    flex-shrink: 0
                    width: 92px
                &:last-of-type
                    margin-right: 0
                input
                    margin-bottom: 0
        &-price
            display: flex
            align-items: center
            background: #F7F6FB;
            border: 1px solid #ACA3D9;
            width: fit-content
            border-radius: 4px
            margin-bottom: 16px
            .form-input
                input
                    margin-bottom: 0
                    border: none
                    background: #F7F6FB;
                    &:focus
                        background: #F7F6FB;
                        border: none !important;
                        padding: 20px 12px 6px
                        box-shadow: none !important
                    &:not(:placeholder-shown)
                        background: #F7F6FB;
                        border: none !important;
                        padding: 20px 12px 6px
            .form-radios
                margin-bottom: 0
            .form-radio
                width: fit-content
                label
                    padding: 0 12px
        &-comission
            position: relative
            display: flex
            align-items: center
            width: 100%
            .form-input
                width: 100%
                &:first-of-type
                    width: 220px
                    flex-shrink: 0
                    margin-right: 12px
                input
                    margin-bottom: 0
            .form-price
                width: 100%
                margin-bottom: 0
                .form-input
                    margin-right: 0
                    width: auto
                input
                    padding-right: 12px
                    width: 100%
                    margin-right: 0
                input:not(:placeholder-shown)
                    padding-right: 12px
                .form-input__reset
                    right: 0px
                margin-left: 12px
        &-parther
            position: relative
            display: flex
            align-items: center
            margin-bottom: 16px
            .form-input
                width: 100%
                &:first-of-type
                    input
                        border-radius: 4px 0 0 4px
                        margin-right: -1px
                &:last-of-type
                    input
                        border-radius: 0 4px 4px 0
                        margin-left: -1px
                input
                    margin-bottom: 0
        &-input
            position: relative
            label
                position: absolute
                left: 13px
                top: calc(50% - 1px )
                transform: translateY(-50%)
                font-size: 15px;
                line-height: 18px;
                color: #808080
                pointer-events: none
                transition: all .35s
            input
                display: block
                background: #fff;
                border: 1px solid #CCCCCC;
                border-radius: 4px;
                box-sizing: border-box
                width: 100%
                height: 46px
                padding: 13px 48px 13px 12px
                margin: 0 0 16px
                font-size: 15px;
                line-height: 18px;
                color: #333333;
                transition: all .35s
                &:focus
                    background: #F7F6FB;
                    border: 1px solid #ACA3D9 !important;
                    padding: 20px 48px 6px 12px
                    box-shadow: none !important
                &:focus ~ label
                    top: 7px
                    transform: translateY(0)
                    font-size: 11px;
                    line-height: 11px;
                    color: #808080 !important;
                &::placeholder
                    font-size: 0
                &:not(:placeholder-shown)
                    background: #F7F6FB;
                    border: 1px solid #ACA3D9 !important;
                    padding: 20px 48px 6px 12px
                &:not(:placeholder-shown) ~ label
                    top: 7px
                    transform: translateY(0)
                    font-size: 11px;
                    line-height: 11px;
                    color: #808080 !important;
                &:not(:placeholder-shown) ~ .form-input__reset
                    opacity: 1
                    visibility: visible
            .newObjectForm-answer
                position: absolute
                top: 50%
                right: -36px
                transform: translateY(-50%)
            .newObjectForm-plus
                position: absolute
                top: 50%
                right: -36px
                transform: translateY(-50%)
            &__amountRoom
                width: fit-content
                background: #F7F6FB;
                border-radius: 4px;
                display: flex
                align-items: center
                margin-bottom: 16px
                input
                    box-sizing: border-box
                    border: none
                    width: 36px
                    margin: 0 4px
                    &:focus
                        border: none !important;
                        box-shadow: none !important
            &__minus
                cursor: pointer
                display: block
                width: 44px
                height: 44px
                background: #B3B3B3;
                mask: url('./../image/minus.svg') center / 16px no-repeat
                transition: background .35s
                &:hover
                    background: #5947B3;
            &__plus
                cursor: pointer
                display: block
                width: 44px
                height: 44px
                background: #B3B3B3;
                mask: url('./../image/input_plus.svg') center / 16px no-repeat
                transition: background .35s
                &:hover
                    background: #5947B3;
            &__reset
                display: block
                width: 32px
                height: 32px
                position: absolute
                right: 13px 
                top: calc(50%)
                transform: translateY(-50%)
                cursor: pointer
                transition: all .35s
                visibility: hidden
                opacity: 0
                &::after
                    content: ''
                    position: absolute
                    top: 16px
                    left: 16px
                    transform: translate(-50%, -50%)
                    display: block
                    width: 16px
                    height: 16px
                    border-radius: 50%
                    background: #B3B3B3
                    transition: all .35s
                    z-index: 0
                &::before
                    content: ''
                    position: absolute
                    top: 16px
                    left: 16px
                    transform: translate(-50%, -50%)
                    display: block
                    width: 16px
                    height: 16px
                    border-radius: 50%
                    background: url('./../image/x-circle-fill.svg') center / 8px no-repeat
                    transition: all .35s
                    z-index: 1
                &:hover::after
                    background: #5947B3
        &-select
            position: relative
            label
                z-index: 1
                position: absolute
                left: 13px
                top: 7px
                font-size: 11px;
                line-height: 11px;
                color: #808080
                pointer-events: none
                transition: all .35s
            .select-wrapper
                position: relative
                &::after
                    content: ''
                    display: block
                    position: absolute
                    right: 14px
                    top: 50%
                    transform: translateY(-50%)
                    width: 16px
                    height: 16px
                    background: #B3B3B3;
                    mask: url('./../image/chevron-down.svg') center / 16px no-repeat
                    z-index: 1
                input
                    display: block
                    background: #fff;
                    border: 1px solid #CCCCCC;
                    border-radius: 4px;
                    box-sizing: border-box
                    width: 100%
                    height: 46px
                    padding: 20px 48px 6px 12px
                    margin: 0 0 16px
                    font-size: 15px;
                    line-height: 18px;
                    color: #333333;
                    transition: all .35s
                    &:focus
                        background: #F7F6FB;
                        border: 1px solid #ACA3D9 !important;
                        padding: 20px 48px 6px 12px
                        box-shadow: none !important
                .dropdown-content
                    background: #FFFFFF;
                    box-shadow: 0px 4px 10px rgba(37, 36, 41, 0.15);
                    border-radius: 4px;
                    top: calc(100% + 6px) !important
                    li.disabled
                        display: none
                    li.selected
                        position: relative
                        background: none
                        &::after
                            content: ''
                            display: block
                            position: absolute
                            right: 14px
                            top: 50%
                            transform: translateY(-50%)
                            width: 16px
                            height: 16px
                            background: #5947B3;
                            mask: url('./../image/check-select.svg') center / 16px no-repeat
                    li
                        span
                            font-size: 15px;
                            line-height: 18px;
                            color: #333333;
                        &:hover
                            background: #F7F6FB;
                            border-radius: 4px;
            .newObjectForm-answer
                position: absolute
                top: 50%
                right: -36px
                transform: translateY(-50%)
            .newObjectForm-plus
                position: absolute
                top: 50%
                right: -36px
                transform: translateY(-50%)
        &-textarea
            position: relative
            label
                position: absolute
                left: 13px
                top: 12px
                font-size: 15px;
                line-height: 18px;
                color: #808080
                pointer-events: none
                transition: all .35s
            textarea
                display: block
                box-sizing: border-box
                background: #fff;
                border: 1px solid #CCCCCC;
                width: 100%
                height: 100px
                border-radius: 4px;
                padding: 12px 48px 12px 12px
                margin: 0 0 16px
                font-size: 15px;
                line-height: 18px;
                color: #333333;
                transition: all .35s
                resize: none
                &::placeholder
                    font-size: 0
                &:focus
                    background: #F7F6FB;
                    border: 1px solid #ACA3D9;
                    outline: none
                &:focus ~ label
                    opacity: 0
                &:not(:placeholder-shown)
                    background: #F7F6FB;
                    border: 1px solid #ACA3D9 !important;
                &:not(:placeholder-shown) ~ label
                    opacity: 0
                &:not(:placeholder-shown) ~ .form-input__reset
                    opacity: 1
                    visibility: visible
            .newObjectForm-answer
                position: absolute
                top: 50%
                right: -36px
                transform: translateY(-50%)
        &-radios
            display: flex
            align-items: center
            position: relative
            margin-bottom: 16px
            .newObjectForm-answer
                position: absolute
                top: 50%
                right: -36px
                transform: translateY(-50%)
        &-radio
            position: relative
            width: 100%
            background: #F7F6FB;
            padding: 4px
            &:first-of-type
                border-radius: 4px 0 0 4px
            &:last-of-type
                border-radius: 0 4px 4px 0
            label
                display: block
                width: 100%
                font-size: 15px;
                font-weight: 400
                line-height: 38px
                color: #5947B3;
                text-align: center
                transition: all .35s
            input
                pointer-events: all
                position: absolute
                top: 4px
                right: 4px
                left: 4px
                bottom: 4px
                width: calc(100% - 8px)
                height: calc(100% - 8px)
                cursor: pointer
            input:checked ~ label
                background: #E9E6FA;
                border-radius: 4px;
                color: #333333;
        &-check
            width: fit-content
            display: flex
            align-items: center
            position: relative
            margin-bottom: 16px
            label
                font-size: 15px;
                font-weight: 400
                line-height: 18px;
                color: #333333;
                &:before
                    content: ''
                    display: block
                    width: 20px
                    height: 20px
                    border: 1px solid #CCCCCC;
                    border-radius: 4px;
                    position: absolute
                    left: 0px
                    top: 50%
                    transform: translateY(-50%)
                    pointer-events: none
                &:after
                    opacity: 0
                    content: ''
                    display: block
                    width: 20px
                    height: 20px
                    background:url('./../image/check.svg') center / 16px no-repeat, #5947B3
                    border-radius: 4px;
                    position: absolute
                    left: 0px
                    top: 50%
                    transform: translateY(-50%)
                    transition: all .35s
                    pointer-events: none
            input
                display: block
                width: 20px
                height: 20px
                position: relative
                margin-right: 10px
                pointer-events: all
                opacity: 0
                cursor: pointer
                &:checked ~ label::after
                    opacity: 1
            .newObjectForm-answer
                position: absolute
                top: 50%
                right: -36px
                transform: translateY(-50%)
        &-req
            color: #FF4242
        &-points
            color: #01B957
        &-suplabel
            margin-top: 36px
            &__text
                position: absolute
                top: -20px
                left: 0
                font-size: 12px;
                line-height: 14px;
                color: #333333;
                margin: 0
        &-sublabel
            margin-bottom: 36px
            &__text
                margin: 0
                font-size: 13px;
                line-height: 15px;
                color: #999999;
                position: absolute
                left: 0px
                bottom: -20px
        &-mb32
            margin-bottom: 32px
        &-mb58
            margin-bottom: 58px
        &-ml32
            margin-left: 30px
        &-buttons
            button
                line-height: 46px
                padding: 0 24px
                border-radius: 4px;
                border: none
                font-size: 15px;
                font-weight: 600
                cursor: pointer
                transition: all .35s
            &__dark
                background: rgba(89, 71, 179, 1);
                color: #fff
                margin-right: 12px
                &:hover
                    background: #E9E6FA;
                    color: #5947B3;
            &__light
                background: #E9E6FA;
                color: #5947B3;
                &:hover
                    background: rgba(89, 71, 179, 1);
                    color: #fff
.stages
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    &-title
        display: flex
        align-items: center
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        margin: 0
        padding: 12px 16px
        border-bottom: 1px solid #EBEBEB
        &__rating
            display: block
            margin-left: 5px
            color: #01B957
        .newObjectForm-answer
            margin-left: 16px
    &-list
        padding: 16px !important
        margin: 0
    &-item
        display: flex
        align-items: center
        font-size: 14px;
        font-weight: 400
        line-height: 16px;
        color: #808080;
        margin-bottom: 10px
        &__valid
            font-weight: 600
            color: #333333;
            .stages-icon
                mask-image: url('./../image/circle-check-fill-24.svg')
                background: #01B957;
        &__current
            color: #333333;
            .stages-icon
                mask-image: url('./../image/circle-check-fill-24.svg')
                background: #FFC61A;
        &__invalid
            color: #333333;
            .stages-icon
                mask-image: url('./../image/circle-check-fill-24.svg')
                background: #FF4242;
        &:last-of-type
            margin-bottom: 0
    &-icon
        display: block
        width: 24px
        height: 24px
        margin-right: 12px
        mask: url('./../image/circle-check-24.svg') center / 24px no-repeat
        background: #EBEBEB;

